---
import Layout from "../layouts/Layout.astro";
import ProjectSection from "@/partials/ProjectSection.astro";
import ExperienceSection from "@/partials/ExperienceSection.astro";
import MainSection from "@/partials/MainSection.astro";
---

<Layout
  title="Portfolio de Daniel Parrillas"
  description="Contrata a Daniel Parrillas para crear tu aplicación web. Desarrollador Web Full-Stack."
>
  <main class="flex flex-col justify-center items-center px-4 sm:px-12">
    <MainSection id="top" />
    <ExperienceSection id="experience" />
    <ProjectSection id="projects" />
  </main>
</Layout>
