<header class="flex max-w-6xl w-full justify-center rounded-lg py-5">
  <nav
    class="flex justify-around flex-row gap-x-16 text-black/60 text-lg font-medium pt-2"
  >
    <a href="/">Home</a>
    <a href="/about">Acerca de mi</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contactos</a>
  </nav>
</header>
